.idea/
__pycache__/

energy_tests/
dummy-2-nodes/
archived_results/
to_analyse/

concerto-d-results/*
!expe_esds_parameter_files/
!expe_esds_parameter_files_50_uptimes_30_sleepings/
!expe_esds_parameter_files_60_uptimes_3600_sleeping/
!expe_esds_parameter_files_dao/
!tests/
![0-99]*/
