general:
  interferences: off

nodes:
  count: {{ nodes_count }}
  implementations:
    # Idle
    {% for idle_num in range(nodes_per_batch) -%}
    - {{ idle_num }} idle.py
    {% endfor %}

    # Reconf
    {% for reconf_num in range(nodes_per_batch, nodes_per_batch*2) -%}
    - {{ reconf_num }} reconf.py
    {% endfor %}

    # Sending
    {% for sending_num in range(nodes_per_batch*2, nodes_per_batch*3) -%}
    - {{ sending_num }} sending.py
    {% endfor %}

    # Receive
    {% for receive_num in range(nodes_per_batch*3, nodes_per_batch*4) -%}
    - {{ receive_num }} receive.py
    {% endfor %}

  groups: # id group_id
    # Idle
    {% for node_num in range(nodes_count) -%}
    - {{ node_num }} {{ node_num % nodes_per_batch }}
    {% endfor %}

  arguments:
    all: {
      expe_config_file: "/home/aomond/reconfiguration-esds/concerto-d-results/current_esds_parameter_file.yaml",
      # expe_config_file: "/home/aomond/reconfiguration-esds/concerto-d-results/expe_esds_parameter_files/esds_generated_data-ud1_od0_15_25-async-deploy-T1.yaml",
      stressConso: {{ stressConso }},
      idleConso: {{ idleConso }},
      commsConso: {{ commsConso }},
      typeSynchro: {{ typeSynchro }},
      nodes_per_batch: {{ nodes_per_batch }}
    }

interfaces:
  eth0:
    type: "wireless"
    links:
      {% for link in links_eth0 -%}
        {{ link }}  # Allsource bandwidth latency allreceive
      {% endfor %}
    txperfs:
      - all {{ bandwidth }} 0s  # Perf de chaque noeud sur cette interface
    nodes: {{ communicating_nodes }}
